.footer-wrapper {
  display: flex;
  margin-top: 100vh;
  justify-content: space-between;
  align-items: center;
  max-width: 1536px;
  padding: 10px;
  background-color: #043371;
}
.footer-content p {
    margin: 0;
    font-size: 16px;
    color: #fff;
  }
  
  
  .footer-social-media-wrapper {
    display: flex;
    align-items: center;
  }
  
  
  .footer-social-media {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1px; 
  }
  
  
  .footer-social-media li {
    display: inline-block;
  }
  
  .footer-social-media img {
    width: 25px;
    height: 18px;
    transition: opacity 0.3s ease; 
  }
  
  .footer-social-media img:hover {
    opacity: 0.7;
  }
