.gallery-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 30px;
  margin-top: 130px;
}

.gallery-wrapper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 80vw;
  flex-direction: column;
  cursor: pointer;
  margin: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery-wrapper .swiper-slide:hover {
  transform: scale(1.1);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.gallery-wrapper .swiper-pagination-bullet {
  background-color: #0400ff;
  width: 8px;
  height: 8px;
}

.gallery-wrapper .swiper-pagination-bullet-active {
  background-color: #00b7ff;
  width: 10px;
  height: 10px;
}

.gallery-wrapper .swiper-button-next,
.gallery-wrapper .swiper-button-prev {
  display: none;
}

/* Responsive Design */

/* 2xl Screens */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl Screens */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* Large Screens */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  .gallery-wrapper {
    padding: 15px;
    margin-top: 70px;
    gap: 30px;
  }
  .gallery-wrapper .swiper-slide {
    height: 45vh;
    width: 70vw;
  }
}

/* Medium Screens */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  .gallery-wrapper {
    gap: 30px;
  }
  .gallery-wrapper .swiper-slide {
    height: 40vh;
    width: 75vw;
  }
}

/* Small Screens */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
  .gallery-wrapper {
    padding: 10px;
    margin-top: 60px;
  }
  .gallery-wrapper .swiper-slide {
    height: 35vh;
    width: 85vw;
  }
  .gallery-wrapper .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }
  .gallery-wrapper .swiper-pagination-bullet-active {
    width: 8px;
    height: 8px;
  }
}

/* Extra Small Screens */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
  .gallery-wrapper {
    padding: 5px;
    margin-top: 50px;
  }
  .gallery-wrapper .swiper-slide {
    height: 30vh;
    width: 95vw;
  }
  .gallery-wrapper .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
  }
  .gallery-wrapper .swiper-pagination-bullet-active {
    width: 8px;
    height: 8px;
  }
}
