.services-wrapper {
  border: 2px solid #629fe9;
  border-radius: 8px;
  padding: 16px;
  margin: 16px auto;
  width: 60%;
  padding: 30px 30px;
  max-width: 900px;
  text-align: center;
}
.services-wrapper:hover {
  background-color: #d9dde01f;
}
.services-wrapper h2 {
  color: #043371;
  font-family: "Roboto Serif", serif;
  font-size: 30px;
  font-weight: bolder;
  margin-bottom: 50px;
  margin-top: 30px;
  text-align: center;
  align-items: center;
}

.services-wrapper p {
  color: #3f3f3f;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  font-weight: bolder;
}

/* Media    queries */

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}
/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}
/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  .services-wrapper {
    width: 75%;
    padding: 20px;
  }

  .services-wrapper h2 {
    font-size: 26px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .services-wrapper p {
    font-size: 14px;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  .services-wrapper {
    width: 85%;
    padding: 15px;
  }

  .services-wrapper h2 {
    font-size: 24px;
    margin-top: 15px;
    margin-bottom: 30px;
  }

  .services-wrapper p {
    font-size: 14px;
    line-height: 1.4;
  }
}
/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
  .services-wrapper {
    width: 95%;
    padding: 12px;
  }

  .services-wrapper h2 {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .services-wrapper p {
    font-size: 12px;
    margin-bottom: 15px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }
  .services-wrapper {
    width: 100%;
    padding: 10px;
  }

  .services-wrapper h2 {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 15px;
  }

  .services-wrapper p {
    font-size: 11px;
    margin-bottom: 10px;
  }
}
